<query-editor-row ctrl="ctrl">

	<li>
		<metric-segment-model property="ctrl.target.mode" get-options="ctrl.getModes()" on-change="ctrl.modeChanged()" css-class="query-keyword"></metric-segment-model>
	</li>

	<li ng-if="ctrl.target.mode === 'Watch Task'">
		<metric-segment segment="ctrl.taskSegment" get-options="ctrl.getTasks()" on-change="ctrl.taskChanged()"></metric-segment>
	</li>

	<li ng-if="ctrl.target.mode === 'Define Task'">
		<input type="text" class="tight-form-input" style="width: 200px;" ng-model="ctrl.target.taskName" spellcheck='false' placeholder="Task name" ng-blur="ctrl.refresh()">
	</li>

	<li class="tight-form-item">
		<button ng-if="ctrl.taskNotFound" ng-click="ctrl.createTask()" class="btn btn-success btn-mini">Create</button>
		<button ng-if="!ctrl.taskNotFound" ng-click="ctrl.deleteTask()" class="btn btn-danger btn-mini">Delete</button>
		<button ng-if="ctrl.isRunning" ng-click="ctrl.stopTask()" class="btn btn-secondary btn-mini">Stop</button>
		<button ng-if="ctrl.isStopped" ng-click="ctrl.startTask()" class="btn btn-secondary btn-mini">Start</button>
		<button ng-if="ctrl.isRunning" ng-click="ctrl.watchTask()" class="btn btn-secondary btn-mini">Watch</button>
	</li>

</query-editor-row>

<div class="tight-form" ng-repeat="segment in ctrl.metricSegments" ng-if="ctrl.target.mode === 'Define Task'">
	<ul class="tight-form-list">
		<li class="tight-form-item query-keyword tight-form-align" style="width: 79px;">
			Metric
		</li>
		<li>
			<metric-segment segment="segment" get-options="ctrl.getMetricSegments(segment, $index)" on-change="ctrl.metricSegmentChanged(segment, $index)"></metric-segment>
		</li>
	</ul>
	<div class="clearfix"></div>
</div>

